body {
  font-family: 'Bree Serif',Sansita, sans-serif, monospace;
  text-align: center; }

#add-url {
  background-color: #3D59AC;
  height: 250px;
  z-index: 0;
  position: relative; }

.search-form {
  padding-top: 140px;
  margin: 0 auto; }

#enterUrl {
  font-size: 25px;
  border-radius: 5px;
  width: 700px;
  font-family: cursive;
  color: #1e2c56; }

::-webkit-input-placeholder {
  font-family: 'Bree Serif',Sansita; }

::-moz-placeholder {
  font-family: 'Bree Serif',Sansita; }

:-ms-input-placeholder {
  font-family: 'Bree Serif',Sansita; }

::placeholder {
  font-family: 'Bree Serif',Sansita; }

.button {
  color: #FFFFFF;
  background-color: #243567;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  margin: 0 auto; }

.button:hover {
  border: solid #FFFFFF 1px;
  box-shadow: 4px 4px 3px #888888; }

#table-data {
  margin: 0 auto; }

.table {
  margin: 0 auto;
  width: 50%; }
  .table td {
    border-bottom: 1px dotted #0C1122;
    padding: 2px; }
  .table .header {
    font-family: monospace fantasy;
    background-color: #121A33;
    color: #FFFFFF; }
  .table .row {
    text-align: center; }
  .table .row:nth-child(odd) {
    background-color: #C4CDE6; }
