body {
  font-family: 'Bree Serif',Sansita, sans-serif, monospace;
  text-align: center; }

#add-url {
  background-color: #3D59AC;
  height: 250px;
  z-index: 0;
  position: relative; }

.search-form {
  padding-top: 140px;
  margin: 0 auto; }

#enterUrl {
  font-size: 25px;
  border-radius: 5px;
  width: 700px; }

.button {
  color: #FFFFFF;
  background-color: #243567;
  border: solid #000000 1px;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  margin: 0 auto; }

#table-data {
  margin: 0 auto; }

.table {
  border: dotted #000000 1px;
  margin: 0 auto;
  width: 50%; }
  .table .header {
    font-family: monospace fantasy;
    background-color: #121a33;
    color: #FFFFFF; }
  .table td {
    border-bottom: .5px solid black;
    padding: 2px; }
  .table .row {
    text-align: center; }
  .table .row:nth-child(odd) {
    background-color: #c4cde6; }
