<!DOCTYPE>
<html>
  <head>

      <script src="https://use.fontawesome.com/6c720fbdb3.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body ng-app="urlShortApp" ng-controller="urlController" ng-init="init()">
      <div id="add-url">
        <div class="add-form">
          <input type="text" id="enterUrl" placeholder="Please Enter URL..." ng-model="fullUrl" required></input>
          <br/>
          <br/>
          <div id="submit" class="button" ng-click="addUrl()">Get URL</div>
        </div>
      </div>
      <br/>
      <hr>
      <br/>
      <div id="table-data">
          <table class="table">
              <tr class="header">
                <th>#</th>
                <th>Url</th>
                <th>Short Url</th>
              </tr>
              <tr class="row" ng-repeat="urlData in urlList">
                <td>{{$index + 1}}</td>
                <td>{{urlData.url}}</td>
                <td>{{urlData.shortUrl}} &nbsp; &nbsp;<a ng-click=fillLink(urlData) class="point"><i class="fa fa-paper-plane-o"></i></a></td>
              </tr>
          </table>
          <h3><i class="fa fa-paper-plane-o"></i> : Click on icon to copy the minified url</h3>
      </div>
      <br>
      <hr>
      <br>
      <div id="search-url">
        <div class="search-form">
          <input type="text" id="enterShortUrl" placeholder="Minified URL..." readonly ng-model="shortUrl" class="flex-item"></input>
          <br>
          <br>
          <div id="submit" class="button flex-item" ng-click="searchUrl()">Enter</div>
        </div>
      </div>

      <div id="search-url">
        <p>HTML: {{actualUrl}}</p>
      </div>
  </body>
  <script src="node_modules\angular\angular.min.js"></script>
  <script src="js/app.js"></script>
</html>
